

.header {
  padding: 0 !important;
  margin: 0 !important;
  position: fixed;
  width: 100%;
  z-index: 999;
  min-height: 60px; }


.impRow {
  clear: both;
}
.impCol2 {
  float:left;
  width:50%;
  padding:15px;
}
.impRb {
  border-right: 1px solid #ddd;
}
.impBb {
  border-bottom: 1px solid #ddd;
  display:flex;
}
.impResponseError{
  border: #f00 2px solid;
  padding: 15px;
  border-radius: 10px;
  background: #fdd;
  margin-bottom: 10px;
}
.impResponseSuccess{
  border: #0f0 2px solid;
  padding: 15px;
  border-radius: 10px;
  background: #dfd;
  margin-bottom: 10px;
}
h2.impTitle{
  margin-top: 0px;
  display:inline;
}
.listing-table > tbody > tr > td.impTd {
  font-size:0.8em;
  border:none;
  line-height: 0.8em;
  color:black;
}
// LAYOUTS
.content {

  &__menu {
    position: absolute;
    overflow: auto;
    z-index: 300;
    left: 0;
    top: 60px;
    width: $menu-width;
    bottom: 0;

  }

  &__message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 4000;
  }

  &__view {
    position: absolute;
    overflow: auto;
    z-index: 300;
    top: $header-height;
    right: 0;
    bottom: 0;
    left: $menu-width;
    padding: 0 20px $bottom-height 20px;
    &.extended {
      overflow: hidden;
      padding: 0px 0px 0px 0px;
      .panel {
        padding: 0px;
      }
    }


  }

}
.content-top {
  box-sizing: border-box;
  z-index: 200;
  position: fixed;
  left: $menu-width;
  right: 0;
  top: 60px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  background-color: #2a3a48;
  padding: 10px 20px;
  h2, p {
    display: inline;
    color: white;
    margin-left: 10px;
    vertical-align: 5px;
  }
  &.editMode {
  	padding: 10px 10px;
  }
}
.content-bottom {
  box-sizing: border-box;
  z-index: 200;
  position: fixed;
  left: $menu-width;
  right: 0;
  bottom: 0;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  background-color: white;
  padding: 10px 20px;
  h2 {
    display: inline;
  }
  .content-bottom-actions {
    display: inline-block;
    float: right;
  }
}
