<div class='edit'>

  <h1 translate>Policies</h1>

  <div class="xgrid">
    <div class="xgrid-cell">
      <input-textarea title='Store Highlight' ng-model='store.highlight'></input-textarea>
    </div>
  </div>
  <div class="xgrid">
    <div class="xgrid-cell">
      <input-textarea title='Return and Exchange Policy' ng-model='store.policy'></input-textarea>
    </div>
  </div>

  <hr>
  <div class="_align-right">
    <button class="_secondary" ng-click="cancel()">Cancel</button>
    <button class="_primary" ng-click="save()">Save</button>
  </div>
  <hr>
</div>
