<div class='login__box _recover-password'>
  <div class='box__logo'>
    <img src='assets/images/bindo-dashboard-logo-large.png'>
  </div>
  <div class='box__form'>
    <form ng-submit='recover(user)'>
      <p class='_text-center' translate>Enter your email to recover your password.</p>
      <div class='_message' ng-if='show_error' translate>The email you entered is invalid.</div>
      <!-- <div class='error_login'  ng-if='(submitted && form.email.$error.required)'>The email you cannot be empty.</div> -->
      <input type='text' placeholder='Email' ng-model='user.email'>
      <input class='_hidden' type='submit'>
    </form>
  </div>
  <div class='box__options'>
    <a href='/'>
      <button class='_secondary' translate>Cancel</button>
    </a>
    <button class='_primary _last' ng-click='recover(user)' translate>Recover</button>
  </div>
</div>
