<div class='login__box _reset-password'>
  <div class='box__form _text-center'>
    <img src='assets/images/login/new-password.png'>
    <form ng-submit='reset_password(user)'>
      <p>Please enter your new password.</p>
<!--       <div class='error_login'  ng-if='(submitted && (form.password.$error.required ||form.confirm_password.$error.required))'>The password you entered cannot be empty.</div>
      <div class='error_login'  ng-if='(submitted && form.email.$error.required)'>The password you entered is not long enough.</div> -->
      <input type='password' placeholder='New Password' ng-model='user.password'>
      <input type='password' placeholder='Confirm New Password' ng-model='user.confirm_password'>
      <input class='_hidden' type='submit'>
    </form>
  </div>
  <div class='box__options'>
    <button class='options__set-new-password _primary _last' ng-click='reset_password(user)'>Set New Password</button>
  </div>
</div>
