<html>
<head>
  <meta charset="utf-8">
  <title>Welcome to Bindo</title>
</head>
<body style="background-color: #efefef; font-family:
    Helvetica,Arial,sans-serif; width: 98%; margin: 0 auto;
    padding: 10px">
<table style="background-color: #49C3F1; width: 100%; margin:auto;
      line-height: 80px;">
  <tr>
    <td colspan="4" style="font-weight: bold; font-size: 25px; color:
          #fff; padding-left: 20px">Welcome to Bindo</td>
    <td align="right" style="padding-right: 20px; width:
          20%; line-height: 1em"></td>
  </tr>
</table>
<br/>
<table style="background-color: #fff; width: 100%; margin:auto;">
  <tr style="min-height: 250px;">
    <td colspan="4" valign="top" style="padding: 20px;">
      Hi {{user.full_name}}!
      <br/><br/>
      Thanks for signing up with Bindo, The Store Next Door!
      <br/><br/>
      Please click {{user.confirmation_url}} to confirm your email address.
      <br/><br/>
      Thanks,
      <br/>
      from everyone at Bindo!
    </td>
    <td align="right" style="width: 20%; padding-top:30px" valign="top">

    </td>
  </tr>
</table>
<br/><br/>
<table style=" width: 100%; margin:auto;">
  <tr style="line-height: 2em">
    <td style="width:25%; padding-left:10px;" colspan="1">
      <table cellpadding="0" cellspacing="4">
        <tr style="line-height: 15px">
          <td><img src="https://bindo.com/assets/mail_icon/store_15x15.png"/></td>
          <td><a href="https://bindo.com" style="margin-left:10px; color:#0069D6;text-decoration: none">bindo.com</a></td>
        </tr>
        <tr style="line-height: 15px">
          <td><img src="https://bindo.com/assets/mail_icon/mail_15x15.png"/></td>
          <td><a href="mailto:hi@bindo.com" style="margin-left:10px; color:#0069D6;text-decoration: none">hi@bindo.com</a></td>
        </tr>
      </table>
    </td>
    <td style="width: 25%" colspan="1">
      <table cellpadding="0" cellspacing="4">
        <tr style="line-height: 15px">
          <td><img src="https://bindo.com/assets/mail_icon/phone_15x15.png"/></td>
          <td><span style="margin-left:10px; color:#0069D6;">1.800.My.Bindo</span></td>
        </tr>
        <tr style="line-height: 15px">
          <td><img src="https://bindo.com/assets/mail_icon/order_history_15x15.png"/></td>
          <td><a href="https://bindo.com/my/orders" style="margin-left:10px; color:#0069D6;text-decoration:none">Order History</a></td>
        </tr>
      </table>
    </td>
    <td colspan="3" style="width: 60%; padding-right: 50px" align="right">
      <a href="http://www.facebook.com/shopbindo"><img src="https://bindo.com/assets/mail_icon/facebook_32.png" style="margin-right: 3px"/></a>
      <a href="https://twitter.com/shopbindo"><img src="https://bindo.com/assets/mail_icon/twitter_32.png"/></a>
    </td>
  </tr>
</table>
<br/>
<p style="text-align:center; color: #666">
  Copyright &copy;2015 Bindo Labs. All Rights Reserved.
</p>
<p style="text-align:center; color: #666">
  Orders are subject to the sales and refund policy of individual stores.
</p>
</body>
</html>
