.cascade-filter-collection {
  .card-footer {
    background-color: #5B636C;
    color: #fff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .btn-secondary {
      background-color: transparent;
      color: #eee;
    }
  }
}
