<div>
  <div class='ngdialog-header'>
    <h3 class="ngdialog-title">{{'Update Shipment Quantities'|translate}}</h3>
  </div>


  <div class="ngdialog-body">
    <div class='_message' ng-if='shippingTransferMessage'>{{shippingTransferMessage}}</div>
    <table class="table transfer-table">
      <thead>
        <tr>
          <th class="title">Item</th>
          <th class="num">QTY Requested</th>
          <th class="num">QTY Departed</th>
          <th>Serial Numbers</th>
          <th class="num">QTY Recieved</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in stockTransferItems">
          <td class="title">
              <img src="assets/images/inventory_placeholder.png" width="60" class="thumbnail">
              <p>{{ item.listing.name }}</p>
              <p class="id">{{ item.listing.upc }}</p>
              <p class="id">Product ID {{ item.listing.product_id }}</p>
          </td>
          <td>
            <input
              type='number'
              ng-model='item.qty_requested'
              disabled
              >

          </td>
          <td>
            <input
              type='number'
              ng-model='item.qty_departed'
              ng-blur="updateSerialInput(item)"
              ng-change="validateQtyDeparted($index)"
              >

          </td>
          <td>
            <div ng-if="!item.listing.serial_number_enabled">Serial number not enabled for this item</div>
            <div ng-if="item.listing.serial_number_enabled" ng-repeat="serial in item.serial_numbers track by $index">
              <input
                type='text'
                class='serial-input'
                ng-model='serial.number'
                ng-readonly="serial.received">
            </div>
            <p class="validate-error">
              {{item.validateResult.serial_numbers[0]}}
            </p>
          </td>
          <td>
            <input
              type='number'
              ng-model='item.qty_received'
              disabled
              >

          </td>
        </tr>
      </tbody>
    </table>
    <p class="_align-right"><button class="_secondary" ng-click="shipAll()">Ship all items</button> &nbsp;&nbsp;&nbsp;</p>

  </div>
  <div class='ngdialog-footer _align-right'>
    <button class='_secondary' ng-click='closeThisDialog()'>{{'Cancel'|translate}}</button>
    <button class='_primary' ng-click='updateQuantities()'>{{'Save New Quantities'|translate}}</button>
  </div>
</div>
