<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="//fonts.googleapis.com/css?family=Lato:300,700,900,300italic,700italic,900italic" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="dashboard"></div>
    <script src="https://tableau.bindolabs.com/javascripts/api/tableau-2.min.js"></script>
  </body>
</html>
