.block-a {
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.small {
  font-size: 0.9em
}

.capitalize {
  text-transform: capitalize !important;
}
.lowercase {
  text-transform: lowercase !important;
}
.uppercase {
  text-transform: uppercase !important;
}
