.sale {
  .sale__body {
    padding-bottom: 50px;
    .body__receipt {
      background-color: white;
      color: $text-dark-brown;
      padding: 20px 0;

      ._section {
        width: 580px;
        margin: 0 auto;
        border-bottom: 1px solid $light-gray;
        padding: 15px 0;

        &:last-child {
          border-bottom: none;
        }
        p {
          line-height: 21px;
          margin-bottom: 0;

          &._right {
            float: right;
          }
        }
      }
      .receipt__header {
        text-align: center;

        .header__title {
          font-size: 18px;
          line-height: 36px;
          font-weight: 400;
        }
      }
      .receipt__list {

        .list__item {
          border-bottom: 1px solid $light-gray;
          padding: 10px 0;

          &:last-child {
            border-bottom: none;
          }
          >div {
            display: inline-block;
            height: 100%;
            vertical-align: text-top;
          }
          .item__image {
            border: 1px solid $light-gray;
            margin-right: 20px;
            img {
              width: 60px;
              height: 60px;
            }
          }
          .item__details {
            width: 360px;

            .details__amount {
              color: $text-light-brown;
            }
          }
          .item__total {
            float: right;
          }
        }
      }
      .receipt__summary {
        p {
          display: inline;
        }
      }
      .receipt__loading {
        height: 300px;
        padding: 120px;

        .loading__message {
          height: 60px;
          margin: 0 auto;
          border-radius: 40px;
          text-align: center;

          p {
            font-size: 36px;
            font-weight: 700;
            color: rgba(57,64,76,0.8);
            line-height: 60px;
            i {
              position: relative;
              top: 2px;
              margin-right: 10px;
              font-size: 36px;
            }
          }
        }
      }
    }
  }
}

.item__status-list {
  background-color: #FFF;
  border: 1px solid #ccc; 
  padding: 5px 10px;
  z-index: 3;
  position: absolute;
  max-width: 400px;  
}