<div class='grid'>
  <grid-filter></grid-filter>
  <grid-body ng-hide='gridIsEmpty'></grid-body>
  <grid-empty ng-show='gridIsEmpty'></grid-empty>
  <grid-pagination ng-hide='loadingGrid || returnAll || gridIsEmpty || pagination.total_pages < 2' ng-model='testPageNumber'></grid-pagination>
  <grid-row-count ng-hide='loadingGrid || gridIsEmpty'></grid-row-count>
  <grid-import ng-show='isImporting'></grid-import>
  <div class="_clear"></div>
  <div class='content-bottom'>
    <h2>{{title|translate}}</h2>
    <!-- beware: actions only usable for 25 per page view -->
    <div class='content-bottom-actions'>
      <button ng-class='{"_primary": action[2], "_secondary": !action[2]}' ng-repeat='(i, action) in bottomActions' ng-click='action[1]()'>{{action[0]|translate}}</button>
      <button class='_secondary' ng-click='toggleImport()' ng-if='importColumns'>{{'Import'|translate}} {{title|translate}} (.csv)</button>

      <button class='_secondary' ng-click='exportExcel()'>{{'Export Excel'|translate}} {{getSelectedItems().length ? " Selected" : ""}}</button>
      <button class='_secondary' ng-click='exportPdf()'>{{'Export PDF'|translate}} {{getSelectedItems().length ? " Selected" : ""}}</button>
      <button class='_secondary' ng-click='exportCsv()'>{{'Export CSV'|translate}} {{getSelectedItems().length ? " Selected" : ""}}</button>
      <button ng-if="editPermission"  class='_new' ng-hide='isHidingNewButton' ng-click='createNewItem()'>{{"New"|translate}} {{newItemName|translate}}</button>
    </div>
  </div>
</div>
