<div class='edit'>
  <div class="status-bar" ng-class=" '-'+order.state "></div>
  <div class='edit__body'>
    <div class='panel' ng-controller="PurchaseOrderFormController">
      <ng-include src="'app/modules/purchase_orders/purchase_order_form.html' "></ng-include>
    </div>
  </div>

  <div class='content-bottom'>
    <h2>{{'New Purchase Order'|translate}}</h2>
    <div class='content-bottom-actions'>
      <button ng-class='{"_primary": action[2], "_secondary": !action[2]}' ng-repeat='(i, action) in bottomActions' ng-click='action[1]()'>{{action[0]}}</button>
    </div>
  </div>
</div>
