  .ajax__pagination {
    float: left;
  }

.grid-report .grid__pagination{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.grid-report .grid__pagination .pagination__link {
    margin-right: 20px;
}
